*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;

  

}
.navbar{
    /* border: 2px solid red; */
    background-color: black;
    /* border-radius: 5px; */
     display: flex;
     justify-content:space-between;
     align-items: center;
     /* margin: 10px; */
     padding: 10px;
     height: 88px;

}
.navbar ul li{
    list-style: none;
    display: inline;
    padding: 30px;
    
}
.navbar ul li a{
    text-decoration: none;
    color:azure;
}
.navbar li a:hover{
    cursor: pointer;
    color:brown;
}
.logo{
    color:azure;
    padding-left: 32px;
    font-size: 18px;
}
.text{
    width: 100%;
    height:300px;
    /* border: 2px solid red; */
    background-color:#DADBF1;
}

#name{
    /* display: flex;
    justify-content: center;
    align-content: center; */
    text-align: center;
    margin: 10px;
    font-size: 50px;
}

#name input{
   width:45%;
   height:70px;
   padding:10px;
   font-size: medium;
}
.box{
    display: flex;
    justify-content: space-around;
    padding: 55px 80px;
    font-size: large;
   
   
}
.box8{
    display: flex;
   gap:30px;
}
.box9{
    display: flex;
    gap: 30px;
}
.box10{
    display: flex;
    gap: 30px;
}
 .box8 .ram img{
    width: 100px;
    height: 100px;

 }
 .box9 .shyam img{
    width: 100px;
    height: 100px;

 }
 .box10 .ramu img{
    width: 100px;
    height: 100px;

 }
.box1 h2{
    line-height: 52px;
}
.box2 h2{
    line-height: 52px;
}

.box1 p{
    font-size: 24px;
    line-height: 32px;
}
.box2 p{
    font-size: 24px;
    line-height: 32px;
}
.boxs{
    display: flex;
    justify-content: space-around;
    padding: 55px 80px;
    font-size: large;
}
.box3 h2{
    line-height: 52px;
}
.box4 h2{
    line-height: 52px;
}

.box3 p{
    font-size: 24px;
    line-height: 32px;
}
.box4 p{
    font-size: 24px;
    line-height: 32px;
}
.footer{
    width:100%;
    height: 400px;
    /* border:2px solid red; */
    background-color: #000000; 
    display: flex;
    justify-content: space-around;
    padding: 40px;
   
}
.abstract h2{
    color:white;
    line-height: 55px;
}
.abstract p{
    color:white;
}
.resources h2{
    color:white;
    line-height: 55px;
}
.resources p{
    color:white;
}
.community h2{
    color:white;
    line-height: 55px;
}
.community p{
    color:white;
   
}
.company h2{
    color:white;
    line-height: 55px;
}
.company p{
    color:white;
}
.email p{
    color:white;
}
.email h3{
    color:white;
    line-height: 25px;
}
.copyright h2{
    color:white;
}
.copyright p{
    color:white;
    line-height: 25px;
    font-size: larger;

}
.copyright{
    align-self:end;
}
.button{
    color:white;
    align-self: end;
   
    
}
.submit{
    color:white;
    background-color: #0470aac0; /* Green */
    border-radius: 15px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    

}

.submit:hover{
    cursor: pointer;
    color: red;
}